<h2>S'inscrire sur Paladin</h2>
<hr>
<br />
<div class="row"  style="margin-left:30px !important; margin-bottom:30px !important">
<form action="/signup" method="POST">
  <div class="form-group" style="max-width: 40rem;">
      <label for="name">Nom:</label>
      <input id="name" name="name" type="text" class="form-control order-search-box" placeholder="Nom">
  </div>
  <div class="form-group" style="max-width: 40rem;">
      <label for="email">Email:</label>
      <input id="email" name="email" type="text" class="form-control order-search-box" placeholder="Email">
  </div>
  <div class="form-group" style="max-width: 40rem;">
      <label for="password">Mot de passe:</label>
      <input id="password" name="password" type="password" class="form-control order-search-box" placeholder="Password">
  </div>
  <input type="submit" value="S'inscrire" class="btn btn-danger btn-lg ">
</form>
</div>
<hr>

