<!doctype html>
<html lang="fr">
  <head>
	<title>Application Web pour KSystem et AWS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

  </head>
  <body>
		<div class="container">
			<hr>
			<div class="row">
				<div class="col col-md-offset-1">
					<h1 class="text-left">Application Web pour KSystem et AWS</h1>
				</div>
				<div class="col text-right">
					<button type="button" class="btn btn-danger btn-lg ">Rafraichir</button>
				</div>
			</div>
			<hr>
			<div class="row">
			    <div class="col">
					<div class="card text-white bg-success mb-3" style="max-width: 20rem;">
					  <div class="card-header">Instances allumées</div>
					  <div class="card-body">
					    <p class="card-text">Vous avez 0 instance AWS allumée</p>
					  </div>
					</div>
				</div>
			    <div class="col">
			    	<div class="card text-white bg-info mb-3" style="max-width: 20rem;">
					  <div class="card-header">Instances réservées</div>
					  <div class="card-body">
					    <p class="card-text">Vous avez 0 instance AWS réservée</p>
					  </div>
					</div>
			    </div>
			    <div class="col">
			    	<div class="card text-white bg-warning mb-3" style="max-width: 20rem;">
					  <div class="card-header">Instances non réservées</div>
					  <div class="card-body">
					    <p class="card-text">Vous avez 0 instance AWS éteinte</p>
					  </div>
					</div>
			    </div>
			 </div>
			 <hr>
			 <h3>Filtrer les instance AWS</h3>
			 <div class="row">
			 <div class="col">
                <div class="form-group" style="max-width: 40rem;">
                    <label for="orderIdFilter">Chercher par nom</label>
                    <input id="orderIdFilter" type="text" class="form-control order-search-box"
                           placeholder="Nom de la plateforme"
                           ng-change="gridActions.filter()"
                           ng-model="code"
                           filter-by="code"
                           filter-type="text">
                </div>

                

            </div>
            <div class="col">
                <div class="form-group" style="max-width: 40rem;">
                    <label for="orderIdFilter">Chercher par phase</label>
                    
                    <select class=form-control>
						 <option value=un>Toutes</option>
						 <option value=deux>Réservées</option>
						 <option value=trois>Allumées</option>
						 <option value=trois>Eteintes</option>
					</select>
                </div>

                
                
            </div>
        </div>
            <hr>
			 <table class="table table-striped table-bordered table-hover table-sm">
			  <h3>Liste des instances AWS</h3>

			  <thead class="thead-dark">
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nom de la plate-forme</th>
			      <th scope="col">Phase</th>
			      <th scope="col">Date</th>
			      
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <th scope="row">1</th>
			      <td>Plateforme 1</td>
			      <td class="badge badge-primary">Réservée</td>
			      <td>10 Nov 2018</td>
			      
			    </tr>
			    <tr>
			      <th scope="row">2</th>
			      <td>Plateforme 2</td>
			      <td class="badge badge-success">Allumée</td>
			      <td>10 Nov 2018</td>
			      
			    </tr>
			    <tr>
			      <th scope="row">3</th>
			      <td>Plateforme 3</td>
			      <td class="badge badge-secondary">Eteinte</td>
			      <td>20 Nov 2018</td>
			      
			    </tr>
			    
			  </tbody>
			</table>
			

		</div>
    
  </body>
</html>