<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<html lang="fr">
  <head>
  <title>Paladin: Application Web Paladin pour KSystem et AWS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/main.css">

  </head>
<body>
      <div class="container">
      <hr>
      <div class="row">
        <div class="col col-md-offset-1">
          <h1 class="text-left">Paladin</h1>
          <p>Application Web pour KSystem et AWS</p>
        </div>
        <div class="col text-right">
          <% if signed_in? %>
            <p>Bienvenue, <strong><%=current_user.name.upcase %></strong></p>
          <% else %> 
            <button type="button" class="btn btn-info btn-lg "><a href="/signup">S'inscrire</a></button>
            <button type="button" class="btn btn-success btn-lg "><a href="/signin">Se connecter</a></button>
          <%end %>
        </div>
      </div>
      <hr>
      
      <%= yield %>
      <nav>
          <% if signed_in? %>

            <button><a href="/paladin/new"> Create New todo </a></button>
            <button><a href="/signout"> Sign-Out </a></button>
            <button><a href="/users/<%=current_user.id %>"> Edit-Profile </a></button>
            <button><a href="/paladin"> Show-My-ToDos </a></button>
            

        
          <%end %>

        </nav>
    <footer class="branding">
      <small>&copy; 2018 <strong>Paladin</strong></small>
    </footer>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <!--[if lt IE 7]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
</body>
